<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Different cuts of fishes</h1>
    <p>Welcome to my fish shop</p>
    <h4>Salmon</h4><img src="/images/200824-delish-blackened-salmon-verticalbite-15775-eb-1658520566.jpeg" height="200px" width="200px"><h6>$20</h6>    
    <img src="/images/Test519.png" height="200px" width="200px"> 
    <h4>Pollock</h4><img src="/images/download.jpeg" height="200px" width="200px"><h6>$10</h6>
    <img src="/images/Test519.png" height="200px" width="200px">
  </body>
</html>
